{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "esmodules": true // false for legacy config and true for modern browsers config
        }
      }
    ]
  ]
}
